In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [ ]:
#Solution to Q number 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
#Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
#You need to find following details:
#A) Rank
#B) Name
#C) Artist
#D) Upload date
#E) Views

In [ ]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)
time.sleep(6)

In [ ]:
#inside the link clicking on the other link
time.sleep(5)
button1=driver.find_element_by_xpath("//a[@href='https://en.wikipedia.org/w/index.php?search=List+of+most-viewed+YouTube+videos%2F&title=Special%3ASearch&fulltext=1&ns0=1']").get_attribute('href')
driver.get(button1)

In [ ]:
#inside the link clicking on the other link
time.sleep(5)
button1=driver.find_element_by_xpath("//a[@href='/wiki/List_of_most-viewed_YouTube_videos']").get_attribute('href')
driver.get(button1)

In [ ]:
time.sleep(5)
#scrolling the page down
driver.execute_script("window.scrollTo(0, 1300)")

In [ ]:
#extracted the index data
import re
time.sleep(4)
Index_No=[]
index=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in index:
    if i.text is None :
        Index_No.append("--") 
    else:
        Index_No.append(i.text)

Index_No[:30]

In [ ]:
#extracted the name data

time.sleep(4)
Name=[]
names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in names:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

Name[:30]

In [ ]:
#extracted the artist data
time.sleep(4)
Artist=[]
artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]/a")
for i in artists:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)

Artist[:30]

In [ ]:
#extracted the views data
time.sleep(4)
views=[]
view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in view:
    if i.text is None :
        views.append("--") 
    else:
        views.append(i.text)

views[:30]

In [ ]:
#extracted the upload date value
time.sleep(4)
Upload_date=[]
uploads=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in uploads:
    if i.text is None :
        Upload_date.append("--") 
    else:
        Upload_date.append(i.text)

Upload_date[:30]

In [ ]:
#created the dataframe of all the values

time.sleep(4)
df1=pd.DataFrame({" Rank":Index_No[:30],"Name":Name[:30],"Artistss":Artist[:30],"Viewss":views[:30],"Upload_dates":Upload_date[:30]})
df1

In [52]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)
time.sleep(6)

#inside the link clicking on the other link
time.sleep(5)
button1=driver.find_element_by_xpath("//a[@href='https://en.wikipedia.org/w/index.php?search=List+of+most-viewed+YouTube+videos%2F&title=Special%3ASearch&fulltext=1&ns0=1']").get_attribute('href')
driver.get(button1)

#inside the link clicking on the other link
time.sleep(5)
button1=driver.find_element_by_xpath("//a[@href='/wiki/List_of_most-viewed_YouTube_videos']").get_attribute('href')
driver.get(button1)

time.sleep(5)
#scrolling the page down
driver.execute_script("window.scrollTo(0, 1500)") 

#extracted the index data
time.sleep(4)
Index_No=[]
index=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in index:
    if i.text is None :
        Index_No.append("--") 
    else:
        Index_No.append(i.text)

Index_No[:30]

#extracted the name data

time.sleep(4)
Name=[]
names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in names:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

Name[:30]

#extracted the artist data
time.sleep(4)
Artist=[]
artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]/a")
for i in artists:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)

Artist[:30]

#extracted the views data
time.sleep(4)
views=[]
view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in view:
    if i.text is None :
        views.append("--") 
    else:
        views.append(i.text)

views[:30]

#extracted the upload date value
time.sleep(4)
Upload_date=[]
uploads=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in uploads:
    if i.text is None :
        Upload_date.append("--") 
    else:
        Upload_date.append(i.text)

Upload_date[:30]

#created the dataframe of all the values

time.sleep(4)
df1=pd.DataFrame({" Rank":Index_No[:30],"Name":Name[:30],"Artistss":Artist[:30],"Viewss":views[:30],"Upload_dates":Upload_date[:30]})
df1

,Rank,Name,Artistss,Viewss,Upload_dates
0,1.,"""Baby Shark Dance""[22]",Baby Shark Dance,8.96,"June 17, 2016"
1,2.,"""Despacito""[24]",Despacito,7.44,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",Johny Johny Yes Papa,5.55,"October 8, 2016"
3,4.,"""Shape of You""[26]",Shape of You,5.38,"January 30, 2017"
4,5.,"""See You Again""[27]",See You Again,5.18,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Uptown Funk,4.44,"January 31, 2012"
6,7.,"""Bath Song""[31]",Gangnam Style,4.31,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Sugar,4.26,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",Dame Tu Cosita,4.23,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Sorry,4.12,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",Roar,3.99,"March 6, 2014"
11,12.,"""Sugar""[37]",Counting Stars,3.51,"January 14, 2015"
12,13.,"""Dame Tu Cosita""[38]",Thinking Out Loud,3.46,"April 5, 2018"
13,14.,"""Sorry""[39]",Dark Horse,3.45,"October 22, 2015"
14,15.,"""Roar""[40]",Faded,3.39,"September 5, 2013"
15,16.,"""Counting Stars""[41]",Shake It Off,3.34,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Girls Like You,3.29,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Lean On,3.15,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Bailando,3.10,"February 20, 2014"
19,20.,"""Faded""[45]",Let Her Go,3.10,"December 3, 2015"
20,21.,"""Shake It Off""[46]",Mi Gente,3.07,"August 18, 2014"
21,22.,"""Girls Like You""[47]",Perfect,3.07,"May 31, 2018"
22,23.,"""Lean On""[48]",Waka Waka (This Time for Africa),3.06,"March 22, 2015"
23,24.,"""Bailando""[49]",Axel F,3.06,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Hello,3.03,"July 25, 2012"
25,26.,"""Mi Gente""[51]",Pinkfong,2.94,"June 29, 2017"
26,27.,"""Perfect""[52]",Luis Fonsi,2.90,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[53]",Wiz Khalifa,2.88,"June 4, 2010"
28,29.,"""Axel F""[54]",Psy,2.88,"June 16, 2009"
29,30.,"""Hello""[55]",Justin Bieber,2.85,"October 22, 2015"

In [53]:
#solution to QNumber 2. Scrape the details team India’s international fixtures from bcci.tv.
#Url = https://www.bcci.tv/.
#You need to find following details:
#A) Match title (I.e. 1st ODI)
#B) Series
#C) Place
#D) Date
#E) Time
#Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [5]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(6)

In [7]:
# clicking the international button
time.sleep(6)
search_button=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
search_button.click()

In [8]:
# clicking the international fixtures button
search_button=driver.find_element_by_xpath('//div[@class="drop-down__options"]/ul/li')
search_button.click()

In [9]:
#extracted the place name
Place_Name=[]

dt4 = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')

for d in dt4:
    Place_Name.append(d.text)

Place_Name

['R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [10]:
#extracted the date
Time=[]

dt5 = driver.find_elements_by_xpath('//div[@class="js-list"]/a/div/div/div/span[2]')

for d in dt5:
    Time.append(d.text)

Time

['15:00 IST',
 '15:00 IST',
 '15:00 IST',
 '20:00 IST',
 '20:00 IST',
 '20:00 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST']

In [11]:
#extracting the title name

Title_Name=[]

dt3 = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')

for d in dt3:
    Title_Name.append(d.text)

Title_Name

['1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '5th Test']

In [12]:
#scrapping half date data

Date=[]

dt6= driver.find_elements_by_xpath('//div[@class="js-list"]/a/div/div/div/span[1]')

for d in dt6:
    Date.append(d.text)

Date

['JULY',
 'JULY',
 'JULY',
 'JULY',
 'JULY',
 'JULY',
 'AUGUST',
 'AUGUST',
 'AUGUST',
 'SEPTEMBER',
 'SEPTEMBER']

In [13]:
#scrapping half date data

Series=[]

dt8= driver.find_elements_by_xpath('//div[@class="fixture__teams"]/div/p')

for d in dt8:
    Series.append(d.text)

Series

['SRI LANKA',
 'INDIA',
 'SRI LANKA',
 'INDIA',
 'SRI LANKA',
 'INDIA',
 'SRI LANKA',
 'INDIA',
 'SRI LANKA',
 'INDIA',
 'SRI LANKA',
 'INDIA',
 'ENGLAND',
 'INDIA',
 'ENGLAND',
 'INDIA',
 'ENGLAND',
 'INDIA',
 'ENGLAND',
 'INDIA',
 'ENGLAND',
 'INDIA']

In [16]:
Series[0]

series=[]
x=0
for i in Series:
    while x>0:
        series.append(i[x]+i[x+1])
        
series

[]

In [72]:
#created the dataframe of all the values

time.sleep(4)
dfs=pd.DataFrame({"Title_Name":Title_Name,"Time":Time,"Place_Name":Place_Name,"Date":Date})
dfs.head()

  Title_Name       Time                    Place_Name  Date
0    1st ODI  15:00 IST  R Premadasa Stadium, Colombo  JULY
1    2nd ODI  15:00 IST  R Premadasa Stadium, Colombo  JULY
2    3rd ODI  15:00 IST  R Premadasa Stadium, Colombo  JULY
3   1st T20I  20:00 IST  R Premadasa Stadium, Colombo  JULY
4   2nd T20I  20:00 IST  R Premadasa Stadium, Colombo  JULY

In [64]:
#Solution to Q3. Scrape the details of selenium exception from guru99.com.
#Url = https://www.guru99.com/
#You need to find following details:
#A) Name
#B) Description
#Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(6)

In [3]:
button = driver.find_element_by_xpath('//ul[@id="java_technologies"]/li[3]/a').get_attribute('href')

driver.get(button)

In [4]:
time.sleep(10)
#scrolling the page down
driver.execute_script("window.scrollTo(0, 3500)")

In [5]:
time.sleep(10)
button = driver.find_element_by_xpath('//a[@href="/exception-handling-selenium.html"]').get_attribute('href')

driver.get(button)

In [6]:
time.sleep(10)
#scrolling the page down
driver.execute_script("window.scrollTo(0, 500)")

In [7]:
#extracted the name data
time.sleep(4)
Name=[]
Names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr[2]/td[i]")
for i in Names:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

Name

['ElementNotVisibleException This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.']

In [74]:
#extracted the description
time.sleep(4)
Description=[]
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr[2]/td[2]")
for i in desc:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)

Description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.']

In [ ]:
#Solution to Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
#Url = http://statisticstimes.com/
#You have to find following details:
#A) Rank
#B) State
#C) GSDP at current price (19-20)
#D) GSDP at current price (18-19)
#E) Share(18-19)
#F) GDP($ billion)
#Note: - From statisticstimes home page you have to reach to economy page through code.

In [5]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the statisticstimes.com
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

In [6]:
time.sleep(6)
search_button=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button')
search_button.click()

time.sleep(5)

button = driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').get_attribute('href')

driver.get(button)

#clicking on gdp of indian states
time.sleep(5)

button = driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]/li/a').get_attribute('href')

driver.get(button)

time.sleep(30)
#scrolling the page down
driver.execute_script("window.scrollTo(0, 1500)")

In [ ]:
State=[]
GSDP_1920=[]
GSDP_1819=[]
Share_1819=[]
GDP_billion=[]

In [ ]:
#scraping rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    rank.append('No details available')
time.sleep(2)

rank

In [9]:
#scraping state
State=[]
try:
    state=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in state:
        State.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    State.append('No details available')
time.sleep(2)

State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [10]:
#scraping GSDP_1920
GSDP_1920=[]
try:
    gsdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in gsdp:
        GSDP_1920.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    GSDP_1920.append('No details available')
time.sleep(2)

GSDP_1920

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [11]:
#scraping GSDP_1819
GSDP_1819=[]
try:
    gsdp1819=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in gsdp1819:
        GSDP_1819.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    GSDP_1819.append('No details available')
time.sleep(2)

GSDP_1819

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [12]:
#scraping Share_1819
Share_1819=[]
try:
    share=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in share:
        Share_1819.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    Share_1819.append('No details available')
time.sleep(2)

Share_1819

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [13]:
#scraping GDP_billion
GDP_billion=[]
try:
    gdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in gdp:
        GDP_billion.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    GDP_billion.append('No details available')
time.sleep(2)

GDP_billion

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [14]:
#created the dataframe of all the values

time.sleep(4)
df=pd.DataFrame({" Rank":rank,"States":State,"GSDP__1920":GSDP_1920,"GSDP__1819":GSDP_1819,"Shares_1819":Share_1819,"GDP_billions":GDP_billion})
df.head()

   Rank         States GSDP__1920 GSDP__1819 Shares_1819 GDP_billions
0     1    Maharashtra          -  2,632,792      13.94%      399.921
1     2     Tamil Nadu  1,845,853  1,630,208       8.63%      247.629
2     3  Uttar Pradesh  1,687,818  1,584,764       8.39%      240.726
3     4        Gujarat          -  1,502,899       7.96%      228.290
4     5      Karnataka  1,631,977  1,493,127       7.91%      226.806

In [62]:
#Solution to Q.5. Scrape the details of trending repositories on Github.com.
#Url = https://github.com/
#You have to find the following details:
#A) Repository title
#B) Repository description
#C) Contributors count
#D) Language usedASSIGNMENT
#Note: - From the home page you have to click on the trending option from Explore menu through code

In [8]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://github.com/"
driver.get(url)
time.sleep(6)

In [9]:
#hover on explore button
time.sleep(5)
button1=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]")
button1.click()

In [10]:
#clicking on the trending button 

time.sleep(5)
button1=driver.find_element_by_xpath("//a[@href='/trending']").get_attribute('href')
driver.get(button1)

In [11]:
#Data to be stored in this empty lists

Repository_title=[]

Language_Used=[]

In [12]:
#extracted the Repository_title
time.sleep(4)
titles=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in titles:
    if i.text is None :
        Repository_title.append("--") 
    else:
        Repository_title.append(i.text)

Repository_title

['TheAlgorithms / Python',
 'paritytech / substrate',
 'discordjs / discord.js',
 'github / docs',
 'livekit / livekit-server',
 'ManimCommunity / manim',
 'snowpackjs / astro',
 'deepmind / alphafold',
 'facebookresearch / ParlAI',
 'GPUOpen-Effects / FidelityFX-FSR',
 'GokuMohandas / MadeWithML',
 'coolsnowwolf / lede',
 'hit-thusz-RookieCJ / CSYuTuiMian2021',
 'jonasschmedtmann / html-css-course',
 'RosettaCommons / RoseTTAFold',
 'lxgw / LxgwWenKai',
 'bradtraversy / hulu-webpage-clone',
 'ventoy / Ventoy',
 'vuejs / vue-next',
 'CaffeineMC / sodium-fabric',
 'megaease / easegress',
 'adiwajshing / Baileys',
 'awesome-selfhosted / awesome-selfhosted',
 '3b1b / manim',
 'public-apis / public-apis']

In [13]:
len(Repository_title)

25

In [14]:
#extracted the Repository_description
# making empty lists    

repo_urls=[]

repo_desc=[]



#scraping repositories urls

repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

for i in repos:

    repo_urls.append(i.get_attribute('href'))

time.sleep(2) 

repo_desc = []

for i in repo_urls:

    driver.get(i)

     #scraping repositories discription

    try:

        repo = driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p")

        repo_desc.append(repo.text)

    except NoSuchElementException:

        repo_desc.append('-')

In [15]:
repo_desc

['All Algorithms implemented in Python',
 'Substrate: The platform for blockchain innovators',
 'A powerful JavaScript library for interacting with the Discord API',
 'The open-source repo for docs.github.com',
 'Distributed audio/video rooms over WebRTC',
 'A community-maintained Python framework for creating mathematical animations.',
 '🚀🧑\u200d🚀 Keep your eyes to the skies, astronauts!',
 'Open source code for AlphaFold.',
 'A framework for training and evaluating AI models on a variety of openly available dialogue datasets.',
 'FidelityFX Super Resolution',
 'Learn how to responsibly deliver value with ML.',
 "Lean's OpenWrt source",
 '关于2021年CS保研预推免通知公告的汇总',
 'Starter files, final projects, and FAQ for my HTML + CSS course',
 'This package contains deep learning models and related scripts for RoseTTAFold',
 "An open-source Chinese font derived from Fontworks' Klee One. 一款基于 FONTWORKS 的 Klee One 的开源中文字体。",
 'Hulu webpage clone',
 'A new bootable USB solution.',
 '🖖 Vue.js is a progressive, incrementally-adoptable JavaScript framework for building UI on the web.',
 'A Fabric mod designed to improve frame rates and reduce micro-stutter',
 'A Cloud Native traffic orchestration system',
 'Lightweight full-featured typescript/javascript WhatsApp Web API',
 'A list of Free Software network services and web applications which can be hosted on your own servers',
 'Animation engine for explanatory math videos',
 'A collective list of free APIs']

In [16]:
#hover on explore button
time.sleep(5)
button1=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]")
button1.click()

#clicking on the trending button 

time.sleep(5)
button1=driver.find_element_by_xpath("//a[@href='/trending']").get_attribute('href')
driver.get(button1)

In [18]:
#extracted the contributors count
# making empty lists    

Contributors_count=[]

for i in repo_urls:

    driver.get(i)

     #scraping contributors count

    try:

        contribution = driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[4]/div/div/h2/a")

        Contributors_count.append(contribution.text)

    except NoSuchElementException:

        Contributors_count.append('-')

In [19]:
len(Contributors_count)

25

In [20]:
#extracted the language used
time.sleep(4)
language=driver.find_elements_by_xpath("//span[@class='repo-language-color']/span")
for i in language:
    if i.text is None :
        Language_Used.append("--") 
    else:
        Language_Used.append(i.text)

Language_Used

[]

In [22]:
#created the dataframe of all the values

time.sleep(4)
df5=pd.DataFrame({"Description":repo_desc,"Repository_title":Repository_title})
df5

,Description,Repository_title
0,All Algorithms implemented in Python,TheAlgorithms / Python
1,Substrate: The platform for blockchain innovators,paritytech / substrate
2,A powerful JavaScript library for interacting ...,discordjs / discord.js
3,The open-source repo for docs.github.com,github / docs
4,Distributed audio/video rooms over WebRTC,livekit / livekit-server
5,A community-maintained Python framework for cr...,ManimCommunity / manim
6,"🚀🧑‍🚀 Keep your eyes to the skies, astronauts!",snowpackjs / astro
7,Open source code for AlphaFold.,deepmind / alphafold
8,A framework for training and evaluating AI mod...,facebookresearch / ParlAI
9,FidelityFX Super Resolution,GPUOpen-Effects / FidelityFX-FSR
10,Learn how to responsibly deliver value with ML.,GokuMohandas / MadeWithML
11,Lean's OpenWrt source,coolsnowwolf / lede
12,关于2021年CS保研预推免通知公告的汇总,hit-thusz-RookieCJ / CSYuTuiMian2021
13,"Starter files, final projects, and FAQ for my ...",jonasschmedtmann / html-css-course
14,This package contains deep learning models and...,RosettaCommons / RoseTTAFold
15,An open-source Chinese font derived from Fontw...,lxgw / LxgwWenKai
16,Hulu webpage clone,bradtraversy / hulu-webpage-clone
17,A new bootable USB solution.,ventoy / Ventoy
18,"🖖 Vue.js is a progressive, incrementally-adopt...",vuejs / vue-next
19,A Fabric mod designed to improve frame rates a...,CaffeineMC / sodium-fabric
20,A Cloud Native traffic orchestration system,megaease / easegress
21,Lightweight full-featured typescript/javascrip...,adiwajshing / Baileys
22,A list of Free Software network services and w...,awesome-selfhosted / awesome-selfhosted
23,Animation engine for explanatory math videos,3b1b / manim
24,A collective list of free APIs,public-apis / public-apis

In [15]:
#Solution to Q.6 Scrape the details of top 100 songs on billboard.com.
#Url = https://www.billboard.com/
#You have to find the following details:
#A) Song name
#B) Artist name
#C) Last week rank
#D) Peak rank
#E) Weeks on board
#Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [16]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.billboard.com/"
driver.get(url)
time.sleep(6)

In [17]:
#hover on charts button
time.sleep(5)
button1=driver.find_element_by_xpath("//a[@href='/charts']").get_attribute('href')
driver.get(button1)

In [18]:
#clicking on the top 100

time.sleep(20)
button1=driver.find_element_by_xpath("//a[@href='/charts/hot-100']").get_attribute('href')
driver.get(button1)

In [19]:
time.sleep(5)
#scrolling the page down
driver.execute_script("window.scrollTo(0, 1000)")

In [26]:
#Making the empty folders
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_board=[]

In [35]:
#extracting the song name

dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')

for d in dt:
    Song_name.append(d.text)
        
Song_name

['Butter',
 'Good 4 U',
 'Levitating',
 'Kiss Me More',
 'Montero (Call Me By Your Name)',
 'Bad Habits',
 'Leave The Door Open',
 'Peaches',
 'Save Your Tears',
 'Deja Vu',
 'Astronaut In The Ocean',
 'Rapstar',
 'You Right',
 'Am I The Only One',
 'Blinding Lights',
 'Without You',
 'Thot Shit',
 'Forever After All',
 'Heartbreak Anniversary',
 'Fancy Like',
 'Every Chance I Get',
 'Famous Friends',
 'Beautiful Mistakes',
 'Best Friend',
 'Lil Bit',
 'Single Saturday Night',
 'Heat Waves',
 'Leave Before You Love Me',
 'Wants And Needs',
 'Yonaguni',
 'Blame It On You',
 'Late At Night',
 'Drivers License',
 'Telepatia',
 'Glad You Exist',
 'Mood',
 'Wockesha',
 'Traitor',
 'Todo de Ti',
 "Drinkin' Beer. Talkin' God. Amen.",
 "Ain't Shit",
 'pov',
 "My Ex's Best Friend",
 'WUSYANAME',
 'Calling My Phone',
 "Beggin'",
 'Ball If I Want To',
 'Gone',
 'Wasting Time',
 'Red Light Green Light',
 'Things A Man Oughta Know',
 'Favorite Crime',
 'Settling Down',
 'Way Less Sad',
 'Straightenin',
 'Ski',
 'AM',
 'Arcade',
 'Happier',
 'You',
 'my.life',
 'Chasing After You',
 "Drunk (And I Don't Wanna Go Home)",
 'Need To Know',
 'Track Star',
 'One Too Many',
 'Hats Off',
 'Brutal',
 'Build A Bitch',
 "Breaking Up Was Easy In The 90's",
 'Country Again',
 'Fiel',
 'Renegade',
 'Waves',
 "We Didn't Have Much",
 'Minimum Wage',
 'Follow You',
 'Jealousy, Jealousy',
 'Come Through',
 'Twerkulator',
 'Cry No More',
 'Essence',
 'A-O-K',
 '4 Da Gang',
 'Tombstone',
 'Made For You',
 'Having Our Way',
 'My Boy',
 'transparentsoul',
 'You Should Probably Leave',
 'I Was On A Boat That Day',
 'Outside',
 'Working',
 'Miss The Rage',
 'Cold Beer Calling My Name',
 'All I Know So Far',
 "What's Next",
 'Enough For You',
 'Juggernaut',
 'Tell Em']

In [36]:
len(Song_name)

100

In [33]:
#extracted the artist name
try:

    ranks=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')

    for i in ranks:

        Artist_name.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Artist_name.append('No details available') 

Artist_name

100

In [24]:
len(Artist_name)

100

In [27]:
#extracted the last week rank
try:

    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")

    for i in ranks:

        Last_week_rank.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Last_week_rank.append('No details available') 

len(Last_week_rank)

100

In [28]:
#extracted the ranks
try:

    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")

    for i in ranks:

        Peak_rank.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Peak_rank.append('No details available') 

len(Peak_rank)

100

In [29]:
#Extracted the weeks on chart
try:

    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

    for i in ranks:

        Weeks_board.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Weeks_board.append('No details available') 

len(Weeks_board)

100

In [37]:
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_board))

100 100 100 100 100

In [39]:
#Dataframe created
time.sleep(4)
df2=pd.DataFrame({"Songs_name":Song_name,"Artist_names":Artist_name,"Last_week_ranks":Last_week_rank,"Peak_ranks":Peak_rank,"Weeks_boards":Weeks_board})
df2.head()

,Songs_name,Artist_names,Last_week_ranks,Peak_ranks,Weeks_boards
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,2,1,8
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,8,1,15

In [40]:
#Question Number 7.Scrape the details of Data science recruiters from naukri.com.
#Url = https://www.naukri.com/
#You have to find the following details:
#A) Name
#B) Designation
#C) Company
#D) Skills they hire for
#E) Location
#Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [41]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

In [42]:
#clicking on the recruiters button

time.sleep(5)
button1=driver.find_element_by_xpath("//a[@href='https://www.naukri.com/recruiters']").get_attribute('href')
driver.get(button1)

In [43]:
#Entering the data science and clicking on search button
search_field_designation=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_field_designation.send_keys("Data science")

In [44]:
# clicking the search button
search_button=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_button.click()

In [45]:
#creating the lists
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [46]:
#Extracted the name
try:

    names=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")

    for i in names:

        Name.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Name.append('No details available') 

len(Name)

50

In [47]:
#Extracted the designation
try:

    des=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")

    for i in des:

        Designation.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Designation.append('No details available') 

len(Designation)

50

In [48]:
#Extracted the Company
try:

    com=driver.find_elements_by_xpath("//div[@id='tabP-1']/div/div/div/div/p/a[2]")

    for i in com:

        Company.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Company.append('No details available') 

print(len(Company))
print(Company)

50
['Data Science Network', 'Shore Infotech India Pvt. Ltd', 'MARSIAN Technologies LLP', 'Enerlytics Software Solutions Pvt Ltd', 'LibraryXProject', 'Apidel Technologies Division of Transpower', 'IFMR', 'Techvantage Systems Pvt Ltd', 'Weupskill- Live Wire India', 'CBL Data Science Private Limited', 'Innominds Software', 'MoneyTap', 'QuantMagnum Technologies Pvt. Ltd.', 'Bristlecone India Ltd', 'SocialPrachar.com', 'BISP Solutions', 'Easi Tax', 'Novelworx Digital Solutions', 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...', 'FirstTech Consaltants Pvt.Ltd', 'Affine Analytics', 'NEAL ANALYTICS SERVICES PVT LTD', 'Compumatrice Multimedia Pvt Ltd', 'Exela Technologies', 'Autumn Leaf Consulting Services Private...', 'trainin', 'Nanoprecise Sci Corp', 'R.S Consultancy &amp; Services', 'Independent Consultant', 'Confidential', 'Dollarbird Information Services Pvt, Ltd', 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED', 'Techcovery', 'HyrEzy Talent Solutions LLP', 'Trisect', 'ASCO consulting', 'NY INST', '3D India Staffing Research &amp; Consulting...', 'O.C. Tanner', 'Demand Matrix', 'MADHUSUDHAN SRIDHAR', 'Suntech Global', 'Strategic Consulting Lab', 'Impel Labs Pvt. Ltd.', 'MRP Advisers', 'Saras Solutions India Pvt Ltd', 'WildJasmine', 'LNT Private Limited', 'Granular.ai', 'Certybox Pvt.Ltd.']

In [49]:
#Extracted the location
try:

    loc=driver.find_elements_by_xpath("//div[@id='tabP-1']/div/div/div/div/p/span/i/small")

    for i in loc:

        Location.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Location.append('No details available') 

len(Location)

0

In [50]:
#Extracted the Skills
try:

    skill=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")

    for i in skill:

        Skills.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Skills.append('No details available') 

len(Skills)

50

In [51]:
#Dataframe created
time.sleep(4)
df3=pd.DataFrame({"Names":Name,"Designations":Designation,"Skill":Skills,"Companies":Company})
df3.head()

,Names,Designations,Skill,Companies
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject

In [46]:
#solution to question number 8. Scrape the details of Highest selling novels.
#Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
#You have to find the following details:
#A) Book name
#B) Author name
#C) Volumes sold
#D) Publisher
#E) Genre

In [47]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

#opening the url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(6)

In [48]:
time.sleep(5)
#scrolling the page down
driver.execute_script("window.scrollTo(0, 2100)")

In [49]:
#empty lists

Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [50]:
#Extracted the Book_name
try:

    book=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]")

    for i in book:

        Book_name.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Book_name.append('No details available') 

print(Book_name)
print(len(Book_name))

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]
100

In [51]:
#Extracted the author name
try:

    name=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]")

    for i in name:

        Author_name.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Author_name.append('No details available') 

print(Author_name)
print(len(Author_name))

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']
100

In [52]:
#Extracted the volumne sold
try:

    vol=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]")

    for i in vol:

        Volumes_sold.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Volumes_sold.append('No details available') 

print(Volumes_sold)
print(len(Volumes_sold))

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']
100

In [53]:
#Extracted the publisher
try:

    pub=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]")

    for i in pub:

        Publisher.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Publisher.append('No details available') 

print(Publisher)
print(len(Publisher))

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']
100

In [54]:
#Extracted the publisher
try:

    gen=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]")

    for i in gen:

        Genre.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Genre.append('No details available') 

print(Genre)
print(len(Genre))

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']
100

In [55]:
#Dataframe created
time.sleep(4)
df3=pd.DataFrame({"Book_names":Book_name,"Author_names":Author_name,"Volumes_solds":Volumes_sold,"Publishers":Publisher,"Genres":Genre})
df3.head()

,Book_names,Author_names,Volumes_solds,Publishers,Genres
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

In [56]:
#Solution to Q 9. Scrape the details most watched tv series of all time from imdb.com.
#Url = https://www.imdb.com/list/ls095964455/
#You have to find the following details:
#A) Name
#B) Year span
#C) Genre
#D) Run time
#E) Ratings
#F) Votes

In [4]:
#opening the link

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

#opening the url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(6)

In [9]:
#creating the empty list

Name=[]
Year_span=[]
Genr=[]
Run_time=[]
Ratings=[]
Votes=[]

In [10]:
#Extracted the name
try:

    name=driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/a")

    for i in name:

        Name.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Name.append('No details available') 

print(Name)
print(len(Name))

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'You', 'Dexter', 'Fear the Walking Dead', 'Family Guy', 'The Blacklist', 'Lost', 'Peaky Blinders', 'House', 'Quantico', 'Orphan Black', 'Homeland', 'Blindspot', "DC's Legends of Tomorrow", "The Handmaid's Tale", 'Chilling Adventures of Sabrina', 'The Good Doctor', 'Jane the Virgin', 'Glee', 'South Park', 'Brooklyn Nine-Nine', 'Under the Dome', 'The Umbrella Academy', 'True Detective', 'The OA', 'Desperate Housewives', 'Better Call Saul', 'Bates Motel', 'The Punisher', 'Atypical', 'Dynasty', 'This Is Us', 'The Good Place', 'Iron Fist', 'The Rain', 'Mindhunter', 'Revenge', 'Luke Cage', 'Scandal', 'The Defenders', 'Big Little Lies', 'Insatiable', 'The Mentalist', 'The Crown', 'Chernobyl', 'iZombie', 'Reign', 'A Series of Unfortunate Events', 'Criminal Minds', 'Scream: The TV Series', 'The Haunting of Hill House']
100

In [11]:
#Extracted the year span
try:

    year=driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/span[2]")

    for i in year:

        Year_span.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Year_span.append('No details available') 

print(Year_span)
print(len(Year_span))

['(2011–2019)', '(2016– )', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017– )', '(2005– )', '(2014– )', '(2012–2020)', '(2017–2021)', '(2007–2019)', '(2011– )', '(2010–2017)', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016– )', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016– )', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018– )', '(2019– )', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2018– )', '(2006–2021)', '(2015– )', '(1999–2022)', '(2013– )', '(2004–2010)', '(2013– )', '(2004–2012)', '(2015–2018)', '(2013–2017)', '(2011–2020)', '(2015–2020)', '(2016– )', '(2017– )', '(2018–2020)', '(2017– )', '(2014–2019)', '(2009–2015)', '(1997– )', '(2013–2022)', '(2013–2015)', '(2019– )', '(2014–2019)', '(2016–2019)', '(2004–2012)', '(2015– )', '(2013–2017)', '(2017– )', '(2017–2021)', '(2017– )', '(2016–2022)', '(2016–2020)', '(2017–2018)', '(2018–2020)', '(2017–2019)', '(2011–2015)', '(2016–2018)', '(2012–2018)', '(2017)', '(2017–2019)', '(2018–2019)', '(2008–2015)', '(2016– )', '(2019)', '(2015–2019)', '(2013–2017)', '(2017–2019)', '(2005–2020)', '(2015–2019)', '(2018)']
100

In [12]:
# Removeing square brackets from list
# using str() + list slicing

#for i in Year_span:
#    Year_span_withoutbrackets = str(i)[1:-1]


#Year_span_withoutbrackets

In [13]:
#Extracted the genre
try:

    ge=driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p/span[5]")

    for i in ge:

        Genr.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Genr.append('No details available') 

print(Genr)
print(len(Genr))

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Mystery', 'Comedy, Romance', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Action, Drama, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Thriller', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama, Fantasy', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Comedy, Crime, Drama', 'Drama, Horror, Mystery']
100

In [14]:
#Extracted the Run_time
try:

    run=driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p/span[3]")

    for i in run:

        Run_time.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Run_time.append('No details available') 

print(Run_time)
print(len(Run_time))

['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '49 min', '42 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '22 min', '22 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '22 min', '23 min', '42 min', '25 min', '51 min', '60 min', '60 min', '45 min', '46 min', '22 min', '45 min', '45 min', '53 min', '44 min', '22 min', '43 min', '44 min', '60 min', '44 min', '42 min', '44 min', '55 min', '42 min', '42 min', '60 min', '60 min', '41 min', '60 min', '44 min', '22 min', '22 min', '43 min', '60 min', '55 min', '60 min', '45 min', '46 min', '45 min', '53 min', '30 min', '42 min', '45 min', '22 min', '55 min', '45 min', '60 min', '44 min', '55 min', '43 min', '50 min', '60 min', '45 min', '43 min', '58 min', '330 min', '42 min', '42 min', '50 min', '42 min', '45 min', '572 min']
100

In [15]:
page_urls=[]
time.sleep(3)
# scrape next pages urls
nxt_page = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

print(page_urls)
print(len(page_urls))

['https://www.imdb.com/title/tt0944947/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4574334/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1520211/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1837492/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2661044/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2372162/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt5420376/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0413573/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3107288/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2193021/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt6468322/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0898266/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2085059/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1475582/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2306299/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1578873/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1405406/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1844624/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0903747/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4052886/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0460681/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0455275/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3205802/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1567432/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0096697/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1843230/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2707408/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3322312/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0108778/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0460649/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1632701/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4158110/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2632424/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4016454/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0397442/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2431438/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3749900/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0475784/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2357547/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1442437/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2861424/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4145054/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt6257970/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1856010/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt5753856/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt7134908/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt7767422/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1586680/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1826940/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2364582/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt7335184/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0773262/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3743822/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0182576/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2741602/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0411008/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2442560/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0412142/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4428122/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2234222/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1796960/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4474344/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4532368/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt5834204/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt7569592/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt6470478/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3566726/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1327801/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0121955/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2467372/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1553656/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1312171/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2356777/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4635282/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0410975/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3032476/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2188671/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt5675620/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt6315640/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt6128300/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt5555260/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4955642/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3322310/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt6656238/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt5290382/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1837642/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3322314/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1837576/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4230076/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3920596/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt6487482/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt1196946/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4786824/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt7366338/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3501584/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt2710394/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt4834206/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt0452046/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt3921180/?ref_=ttls_li_tt', 'https://www.imdb.com/title/tt6763664/?ref_=ttls_li_tt']
100

In [16]:
#page_urls

#for url in page_urls:
#    driver.get(url)

#Extracted the Ratings
#try:

#    rat=driver.find_elements_by_xpath("//span[@class='AggregateRatingButton__RatingScore-sc-1ll29m0-1 iTLWoV']")

#    for i in rat:

#       Ratings.append(i.text)

#except NoSuchElementException:        #handling no such element exception

#    Ratings.append('No details available') 

#print(Ratings)
#print(len(Ratings))

In [17]:
#Extracted the votes
try:

    vot=driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[4]/span[2]")

    for i in vot:

        Votes.append(i.text)

except NoSuchElementException:        #handling no such element exception

    Votes.append('No details available') 

print(Votes)
print(len(Votes))

['1,835,393', '874,161', '879,319', '264,212', '225,709', '283,523', '125,076', '263,661', '316,948', '413,424', '337,414', '740,421', '466,004', '834,669', '455,512', '155,225', '292,045', '283,971', '1,539,328', '258,797', '401,760', '490,116', '135,168', '132,021', '373,713', '211,935', '373,001', '372,850', '872,451', '621,130', '372,686', '343,913', '121,865', '114,749', '158,527', '143,418', '215,562', '442,084', '197,094', '374,090', '404,718', '55,779', '156,104', '475,022', '309,268', '57,930', '174,475', '212,104', '199,286', '204,284', '155,754', '661,238', '117,302', '311,122', '210,844', '509,685', '386,735', '424,317', '57,992', '103,905', '321,245', '67,978', '95,166', '191,958', '81,899', '68,554', '41,207', '139,333', '338,457', '245,512', '102,393', '173,337', '512,923', '94,109', '119,184', '344,466', '99,765', '193,013', '66,365', '16,400', '115,454', '125,759', '118,098', '32,583', '233,119', '114,469', '119,541', '68,465', '93,919', '166,664', '23,880', '169,475', '167,935', '589,235', '61,902', '44,790', '55,397', '169,584', '35,120', '193,351']
100

In [18]:
#Dataframe created
time.sleep(4)
df4=pd.DataFrame({"Names":Name,"Years_span":Year_span,"Genrr":Genr,"Run_times":Run_time,"Vote":Votes})
df4.head()

,Names,Years_span,Genrr,Run_times,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,835,393"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"874,161"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"879,319"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"264,212"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"225,709"

In [19]:
#Solution to Q.10. Details of Datasets from UCI machine learning repositories.
#Url = https://archive.ics.uci.edu/
#You have to find the following details:
#A) Dataset name
#B) Data type
#C) Task
#D) Attribute type
#E) No of instances
#F) No of attribute
#G) Year
#Note: - from the home page you have to go to the Show All Dataset page through code

In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

In [8]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the imdb.com
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

#clicking show all datasets link
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()
time.sleep(1)


#scraping dataset names
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
time.sleep(2)

#scraping data type
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")
    
#scraping task
Task=[]
try:
    info1=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info1[1:]:
         Task.append(i.text)
except NoSuchElementException:
    Task.append("No information")

#scraping attribute type
Attribute_type=[]

try:
    info2=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info2[1:]:
         Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append("No information")


#scraping number of instances
No_of_instances=[]

try:
    info3=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info3[1:]:
         No_of_instances.append(i.text)
except NoSuchElementException:
    No_of_instances.append("No information")
    
#scraping number of attribute
No_of_attribute=[]

try:
    info4=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info4[1:]:
         No_of_attribute.append(i.text)
except NoSuchElementException:
    No_of_attribute.append("No information")
    

#scraping year
Year=[]

try:
    info5=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info5[1:]:
         Year.append(i.text)
except NoSuchElementException:
    Year.append("No information")
    
len(Year)
len(No_of_attribute)
len(No_of_instances)

588

In [10]:
#Dataframe created
time.sleep(4)
df5=pd.DataFrame({"Names":name,"Data_Types":data_type,"Tasks":Task,"Attributes_type":Attribute_type,"No_of_instance":No_of_instances,"Years":Year,"No_of_attributes":No_of_attribute})
df5.head()

,Names,Data_Types,Tasks,Attributes_type,No_of_instance,Years,No_of_attributes
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,1995,8
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,1996,14
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,,38
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,1998,294
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,1998,279